Repository Gyanthakur/GFG_POTD, pull requests merged in 2023-10, with the labels that each got.

#1 added potd for 4th october,2023
  README.md
  octuber_2023/potd_04_10_2023.cpp
Labels: hactoberfest

#2 Create potd_05_10_2023.cpp
  octuber_2023/potd_05_10_2023.cpp
  octuber_2023/potd_06_10_2023.cpp
  octuber_2023/potd_08_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#4 Added today's Potd
  octuber_2023/potd_14_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#3 POTD Solution Uploded for September Month
  september_2023/potd_22_09_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#5 Added my GFG_POTD
  octuber_2023/potd_11_10_2023.cpp
Labels: hactoberfest, hacktoberfest-accepted, hacktoberfest-2023

#6 Create Password_Strength.cpp
  Password_Strength.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#7 Create sudoku.cpp
  sudoku.cpp
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#9 POTD Solution for 15/10/23 Uploaded
  octuber_2023/potd_15_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#10 added potd 16 october
  octuber_2023/potd_16_10_2023.cpp
Labels: hactoberfest, hacktoberfest-accepted, hacktoberfest-2023

#12 Solution Uploaded for 17/10/2023
  octuber_2023/potd_16_10_2023.cpp
  octuber_2023/potd_17_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#13 Update README.md
  README.md
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#15 Added solution for Day 22 Oct POTD
  octuber_2023/potd_21_10_2023.cpp
Labels: hactoberfest, hacktoberfest-accepted, hacktoberfest-2023

#17 codes for 18 to 21 oct
  octuber_2023/potd_18_10_2023.cpp
  octuber_2023/potd_19_10_2023.cpp
  octuber_2023/potd_20_10_2023.cpp
  octuber_2023/potd_21_10_2023.cpp
Labels: hactoberfest, hacktoberfest-accepted, hacktoberfest-2023

#49 Update potd_28_10_2023.cpp
  octuber_2023/potd_28_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#50 added 27th October POTD
  octuber_2023/potd_27_10_2023.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#52 Solution of 26-10 added
  .vscode/c_cpp_properties.json
  octuber_2023/potd_26_10_2023.cpp
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#51 Create Bleak Number 28\10\2023
  Bleak Number 28\10\2023
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#57 Create Sum of XOR of all pairs 30-10-2023
  Sum of XOR of all pairs 30-10-2023
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023

#56 Create Move all zeroes to end of array 31-10-2023
  Move all zeroes to end of array 31-10-2023
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2023
