Repository Gyanthakur/GFG_POTD, pull requests merged in 2024-10, with the labels that each got.

#125 [ADD] added 2 oct 2024 gfg potd problem with solution
  September_2024/gfg_potd_29sep_2024.cpp
  october_2024/gfg_potd_2oct_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#127 Add potd_03_10_2024.cpp
  october_2024/potd_03_10_2024.cpp
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#129 Add potd_04_10_2024.java
  october_2024/potd_04_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#128 [ADD] added 28 sep 2024 gfg potd
  September_2024/gfg_potd_28sep_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#130 [ADD] added 6 oct 2024 gfg potd with solution in c++
  october_2024/potd_06_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#131 [ADD] added 5/10/2024 gfg potd with solution in C++
  october_2024/potd_05_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#133 7-10-24 [XOR Linked List] POTD in java
  october_2024/potd_07_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#135 Add potd_08_10_2024.java
  october_2024/potd_08_10_2024.java
Labels: hactoberfest, hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#138 Add potd_09_10_2024.java
  october_2024/potd_09_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#140 Add potd_10_10_2024.java
  october_2024/potd_10_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hactoberfesr2024

#142 Added POTD 11_10_24
  october_2024/potd_11_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#147 Create potd_06_10_2024.java
  october_2024/potd_06_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#146 Create potd_08_10_2024.cpp
  october_2024/potd_08_10_2024.cpp
  october_2024/potd_10_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#148 Create potd_05_10_2024.java
  october_2024/potd_05_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#151 Create potd_02_10_2024.java
  october_2024/potd_02_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#150 Create potd_03_10_2024.java
  october_2024/potd_03_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#149 Create potd_04_10_2024.cpp
  october_2024/potd_04_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#154 Create potd_29th_sept_24.cpp
  September_2024/potd_29th_sept_24.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#153 Create potd_30sept.cpp
  September_2024/potd_30sept.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#152 Create potd_01_10_2024.java
  october_2024/potd_01_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#156 Create potd_23sept.cpp
  September_2024/potd_23sept.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#157 Adding Book Allocation solution
  october_2024/gfg_potd_13oct_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#155 Add 13 october 2024 GFG POTD solution
  october_2024/GFG_POTD_13_OCT_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#158 GFG POTD 14 october 2024 in java
  october_2024/GFG_POTD_14_OCTOBER_2024_Count_linked_List_Nodes.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#159 Added potd file
  october_2024/potd_14_10_2024.cpp
  october_2024/potd_14_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#165 GFG_POTD_15-10-2024_Subarray_range_with_given_sum.cpp
  october_2024/GFG_POTD_15-10-2024_Subarray_range_with_given_sum.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#168 GFG_POTD_Two_Swaps.cpp
  october_2024/GFG_POTD_Two_Swaps.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#167 add/potd-15-10-24
  october_2024/GFG_POTD_15-10-24.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#166 add/potd-19-9-24
  September_2024/gfg_potd_ 19-09-24.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#171 Create gfg_potd_1_sep_2024.cpp
  September_2024/gfg_potd_1_sep_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#169 Split Linked List Alternatingly
  october_2024/GFG_POTD_17-10-2024_Split_Linked_List_Alternatingly.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#177 3 _24 sep problem added.
  September_2024/gfg_potd_2_sep_24.cpp
  September_2024/gfg_potd_3_Sep_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#182 Added solution for potd 19 October GFG
  october_2024/potd_19_10_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#180 Solved potd_19_10_2024.java
  october_2024/potd_19_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#178 gfg potd oct 18 2024
  october_2024/gfg_potd_18Oct_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#183 Create gfg_potd_18Oct_2024.java
  october_2024/gfg_potd_18Oct_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#184 Create 4_sept.cpp
  September_2024/4_sept.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#185 Create 5th_september_POTD.cpp
  September_2024/5th_september_POTD.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#186 Create 6th_sept_POTD.cpp
  September_2024/6th_sept_POTD.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#187 Create 7th_sept_POTD.cpp
  September_2024/7th_sept_POTD.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#193 Create gfg 5th sep problem
  September_2024/gfg_potd_5_sep_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#189 add-gfg-potd -01-09-24
  September_2024/gfg_potd_1-09-24.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#195 Create potd_20_10_2024.java
  october_2024/potd_20_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#188 Nearest multiple of 10 in C++
  october_2024/GFG_POTD_19-10-24_Nearest_multiple_of_10.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#173 gfg potd 17 october java solution
  october_2024/gfg_potd_17oct_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#198 Gfg potd
  october_2024/gfg_potd_22oct_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#201 Solved GFG_POTD_23-10-2024 Find the Sum of Last N nodes of the Linked List
  october_2024/GFG_POTD_23-10-2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#200 Created potd_21_10_2024.java
  october_2024/potd_21_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#199 Created potd_22_10_2024.java
  october_2024/potd_22_10_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#202 Update gfg_potd_10oct_2024.cpp
  october_2024/gfg_potd_10oct_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#209 added solution for GFG_POTD_25-10-2024_Alternative_Sorting
  october_2024/GFG_POTD_25-10-2024_Alternative_Sorting.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#211 Occurence of an integer in a Linked List
  october_2024/gfg_potd_26oct_2024.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#208 Create GFG_POTD_25_SEPT_2024.cpp
  GFG_POTD_25_SEPT_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#206 Initialize Counters->Iterate Through Heights->Update Maximum->Return …
  POTD_27_09_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#204 Two-pass approach used to solve the problem
  october_2024/POTD_24_October_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#221 Solution to remove duplicates from array
  october_2024/GFG_POTD_28_OCT_2024.py
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#219 solved GFG_POTD_28-10-2024 Remove duplicates in array
  october_2024/GFG_POTD_28-10-24_Remove_duplicates_in_array.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#218 POTD_12_OCT_2024_TwoSmallestsInEverySubarray
  POTD_12_OCT_2024_TwoSmallestsInEverySubarray.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#212 Solved GFG_POTD_27-10-2024 Triplet Family
  october_2024/GFG_POTD_TripletFamily.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#224 solved GFG_POTD_29-10-20 Quick Sort on Linked List in CPP
  october_2024/GRG_POTD_29-10-20-Quick_Sort_on_Linked_List.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#223 POTD_29_OCT_2024_quicksort on linked list
  october_2024/GFG_POTD_29_OCT_2024.py
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#227 POTD_30_OCT_2024_pairs with diff k
  october_2024/GFG_POTD_30_OCT_2024.py
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#225 solved GFG_POTD_30-10-24 Pairs with difference k
  october_2024/GFG_POTD_30-10-24.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#216 POTD_16_OCT_2024_TwoSwaps
  POTD_16_OCT_2024_TwoSwaps.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#214 POTD_27_OCT_2024_TripletFamily
  27_OCT_2024_TripletFamily.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#230 queue and it's basic operations
  october_2024/gfg_potd_31oct_2024queue
  october_2024/gfg_potd_31oct_2024queue.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#229 POTD_25_OCT_2024_Alternate sorting
  october_2024/GFG_POTD_31_OCT_2024.py
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#231 menu driven code for creation of stack and it's operations
  october_2024/gfg_potd_31oct_2024_stack
  october_2024/gfg_potd_31oct_2024_stack.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#233 Create GFG_POTD_31_OCT_2024.cpp
  october_2024/GFG_POTD_31_OCT_2024.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#232 Create POTD_31_OCT_2024_Largestnumber_in_an_array.cpp
  POTD_31_OCT_2024_Largestnumber_in_an_array.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024
